# FRONTEND_URL
FRONTEND_URL=http://localhost:3000

# API key from the movie db
API_KEY=9ca0107c1324548b159c3208cfb7ebd2

# API lang
API_LANG=en-US

# API country
API_COUNTRY=GB

# YouTube API key
API_YOUTUBE_KEY=<api-key>

# Google Analytics
GA=UA-000000000-0
