# FRONTEND_URL
FRONTEND_URL=http://localhost:3000

# API key from the movie db
API_KEY=17d5c9e7e92b1432e3e79dffc05fbc1d

# API lang
API_LANG=en-US

# API country
API_COUNTRY=GB

# YouTube API key
API_YOUTUBE_KEY=<api-key>

# Google Analytics
GA=UA-000000000-0
